@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.categories {
  padding: 10rem 3rem 3rem;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $black;

  &__arrow {
    margin-right: 1rem;
  }
}
