@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.input {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
  & :focus {
    outline: 0.125rem solid $green;
  }

  &_label {
    text-align: left;
    padding-bottom: 0.25rem;
    font-size: 12px;

    @include desktop {
      font-size: 14px;
    }
  }

  &_box {
    height: 2rem;
    border-radius: 0.25rem;
  }
}
