@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

//Background outside of the modal
.ReactModal__Overlay--after-open {
  background-color: rgba($color: $black, $alpha: 0.7) !important;
  z-index: 999;
}

//White background of modal
.ReactModal__Content.ReactModal__Content--after-open {
  width: 100vw;
  height: 100vh;
  top: 50% !important;
  padding: 0 1rem !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: white !important;

  @include tablet {
    padding: 2.5rem 4rem 1rem !important;
    width: 90vw;
    height: auto;
    top: 332px !important;
  }

  @include desktop {
    width: 50vw;
  }
}
