@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.dashboard {
  &__header {
    text-align: left;
    padding-bottom: 3rem;
    letter-spacing: 0.16rem;

    &--fail {
      padding: 8rem 2rem 2rem;
      line-height: 2rem;
    }
  }

  &__body {
    text-align: left;
    width: 60%;
    line-height: 2rem;
    padding-left: 1rem;
  }
}

.button--dashboard {
  position: absolute;
  bottom: 5rem;
}
