@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.dashboard {
  &-container {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    @include desktop {
      padding-top: 2rem;
    }
  }

  &__header {
    text-align: left;
    padding-bottom: 3rem;
    letter-spacing: 0.16rem;

    @include desktop {
      position: absolute;
      top: 14rem;
    }

    &--fail {
      padding: 8rem 2rem 2rem;
      line-height: 2rem;
    }
  }

  &__body {
    text-align: left;
    width: 60%;
    line-height: 2rem;
    padding-left: 1rem;
    position: relative;
    top: 16rem;
    right: 0;
  }

  &__image {
    height: 30rem;
    align-self: flex-end;
    position: absolute;
    left: 3rem;
    top: 3rem;

    @include desktop {
      left: 24rem;
    }
  }
}

.button--dashboard {
  position: absolute;
  bottom: -20rem;
  left: 1rem;
}
