@use "./colors" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: $yellow;
}

body {
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  color: $black;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-family: "Gloock";
  font-size: 20px;
}

p {
  font-size: 12px;
}

.main {
  padding: 10rem 3rem 3rem;
}

.button {
  height: 2.25rem;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: $peach;
  color: $yellow;
  font-size: 13px;
  font-family: "DMSans";
  font-weight: 700;

  &:hover {
    background-color: $red;
    cursor: pointer;
  }
}
