@use "./colors" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: $yellow;
}

body {
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  color: $black;
}

h1 {
  font-family: "Gloock";
  font-size: 30px;
  @include desktop {
    font-size: 34px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 700;
  @include desktop {
    font-size: 20px;
  }
}

h3 {
  font-family: "Gloock";
  font-size: 20px;
  @include desktop {
    font-size: 22px;
  }
}

h4 {
  font-family: "Gloock";
  font-size: 14px;
  @include desktop {
    font-size: 16px;
  }
}

p {
  font-size: 12px;
  @include desktop {
    font-size: 13px;
  }
}

.main {
  padding: 8rem 3rem 3rem;

  @include desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 9rem 0 3rem;
  }

  &-container {
    @include desktop {
      width: 63.75rem;
    }
  }
}

.button {
  height: 2.25rem;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: $peach;
  color: $yellow;
  font-size: 13px;
  font-family: "DMSans";
  font-weight: 700;
  cursor: pointer;

  @include desktop {
    font-size: 14px;
    padding: 0 1.5rem;
  }

  &:hover {
    background-color: $red;
  }

  &--secondary {
    margin-top: 1rem;
    background-color: $yellow;
    color: $peach;
    border: 2px solid $peach;

    @include desktop {
      margin: 0 0 0 2rem;
    }
    &:hover {
      background-color: $red;
      color: $yellow;
      border: none;
    }
  }
}

.page-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $black;

  &__arrow {
    margin-right: 2rem;
  }
}

.cards-container {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  margin-top: 1.5rem;
  background-color: $green;
  border-radius: 0.5rem;
  height: 8rem;
  align-items: flex-end;

  @include desktop {
    width: 48%;
    margin-top: 2.5rem;
  }

  &:hover {
    background-color: $active-green;
  }
}
