@use "./colors" as *;
@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: $yellow;
}

body {
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  color: $black;
}

h1 {
  font-family: "Gloock";
  font-size: 30px;
  @include desktop {
    font-size: 34px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 700;
  @include desktop {
    font-size: 20px;
  }
}

h3 {
  font-family: "Gloock";
  font-size: 20px;
  @include desktop {
    font-size: 24px;
  }
}

h4 {
  font-family: "Gloock";
  font-size: 14px;
  @include desktop {
    font-size: 18px;
  }
}

p {
  font-size: 12px;
  @include desktop {
    font-size: 18px;
  }
}

.main {
  padding: 8rem 3rem 3rem;

  @include desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 9rem 0 3rem;
  }

  &-container {
    @include desktop {
      width: 63.75rem;
    }
  }
}
