@use "./colors" as *;
@use "./fonts" as *;
@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

.button {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: $peach;
  color: $yellow;
  font-size: 0.8125rem;
  font-family: "DMSans";
  font-weight: 700;
  cursor: pointer;
  border: 0.125rem solid $peach;

  @include desktop {
    font-size: 1rem;
    padding: 0.75rem 1.75rem;
  }

  &:hover {
    border: 0.125rem solid $red;
    background-color: $red;
  }

  &--secondary {
    margin-top: 1rem;
    background-color: $yellow;
    color: $peach;
    border: 0.125rem solid $peach;

    @include desktop {
      margin: 0 0 0 2rem;
    }
    &:hover {
      background-color: $red;
      color: $yellow;
      border: none;
    }
  }
}

.page-header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem solid $black;
  align-items: center;

  &__arrow {
    height: 1.25rem;
    margin-right: 2rem;
    cursor: pointer;
  }
}

.cards-container {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  margin-top: 1.5rem;
  background-color: $green;
  border-radius: 0.5rem;
  height: 8rem;
  align-items: flex-end;

  @include desktop {
    width: 48%;
    margin-top: 2.5rem;
  }

  &:hover {
    background-color: $active-green;
  }
}

.error {
  padding: 1rem;
  text-decoration: underline;
  text-align: center;

  @include desktop {
  }
}
