@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.details-container {
  @include desktop {
    width: 63.75rem;
  }
}

.buttons-container--mobile {
  padding: 0 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    display: none;
  }
}

.buttons-container--desktop {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.plant-details {
  @include desktop {
    display: flex;
    padding: 2.5rem 0;
  }

  &_info {
    @include desktop {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 4rem;
    }
  }
  &_image {
    height: 12rem;
    border-radius: 1.25rem;
    border: 0.1875rem solid $green;
    padding: 2rem;
    background-color: white;
    margin-top: 1.5rem;

    @include desktop {
      height: 20rem;
    }
  }

  &_title {
    padding: 1.5rem 0 0.5rem;
    @include desktop {
      padding: 1.5rem 0;
    }
  }

  &_body {
    line-height: 1.25rem;

    @include desktop {
      line-height: 2rem;
    }
  }

  &_ref {
    font-size: 0.625rem;
    padding: 1rem 0 2rem;
    margin-bottom: 1rem;
    border-bottom: 0.0938rem solid $black;

    @include desktop {
      font-size: 0.875rem;
      padding: 1rem 0 3rem;
      margin-bottom: 1rem;
    }
  }
}

.close-button {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.other-uses {
  padding-bottom: 3rem;

  @include desktop {
    padding-bottom: 4rem;
  }

  &_title {
    font-weight: 700;
    padding-bottom: 0.75rem;
  }

  &_list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include desktop {
      justify-content: start;
    }
  }
}
