@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.pill {
  font-size: 11px;
  border: 2px solid $green;
  background-color: white;
  border-radius: 20px;
  width: auto;
  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem;
  margin: 0.25rem;

  @include desktop {
    font-size: 13px;
    padding: 0.5rem 1rem;
  }
}
