@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  padding: 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgba($color: $yellow, $alpha: 0.8);

  @include desktop {
    width: 63.75rem;
    padding: 3rem 0;
  }

  &__logo {
    height: 1.25rem;
    @include desktop {
      height: 2rem;
    }
  }

  &__nav {
    display: flex;
    width: 20%;

    @include desktop {
      justify-content: flex-end;
      align-items: center;
    }

    & a {
      padding-left: 0.5rem;

      @include desktop {
        padding-left: 1rem;
      }
    }
  }
}

.heart {
  @include desktop {
    height: 1.75rem;
    width: auto;
  }
  &:hover {
    fill: #ea9e8d;
  }
}

.settings {
  @include desktop {
    height: 2rem;
    width: auto;
  }
  &:hover {
    fill: #ea9e8d;
  }
}
