@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.header {
  padding: 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &__logo {
    height: 1.25rem;
  }

  &__nav {
    display: flex;
    width: 20%;

    & a {
      padding-left: 0.5rem;
      height: 1.25rem;
    }
  }
}
