@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.result-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  height: 8rem;
  align-items: center;
  justify-content: space-around;
  border: 3px solid $green;
  background-color: white;
  width: 45%;

  @include desktop {
    width: 10rem;
    height: 10rem;
    margin: 2.5rem 1rem 0;
  }
  &:hover {
    border-color: $active-green;
  }

  &__image {
    height: 3rem;
    object-fit: fill;
    border-radius: 0 0.5rem 0.5rem 0;
    align-self: center;
  }
}
